.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-div {
    flex: 1;
}

.login-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 20px;
}

.login-form {
    width: 100%;
    max-width: 300px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-top: 5px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.register-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}