.card-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; /* Adjust the width as needed */
    height: 370px; /* Adjust the height as needed */
    background-color: #e0f2f5;
  }

  
  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .front {
    background-color: #e0f2f5;
  }
  
  .back {
    transform: rotateY(180deg);
    background-color: lightblue;
  }
  
  .card-content {
    text-align: center;
    padding: 20px;
  }
  
  .card-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  

  .original-price {
    text-decoration: line-through;
    color: red;
    margin-right: 10px;
  }
  

  .circular-frame {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: lightgray;
  }
  
  .circular-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  


  /* Modal Styles */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.error-modal {
  background-color: #e66d65; /* Red color for error messages */
}

.success-modal {
  background-color: #32CD32; /* Green color for success messages */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-message {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
