<div class="card-container">
    <div class="card" [@flip]="flipState">
      <div class="front">
        <div class="card-content">
          <div>
           <!-- <p class="h5" [ngClass]="{'popular': plan.streams > 10}">{{ plan.streams > 10 ? 'popular' : '' }}</p> -->

            <p class="h4"><span class="original-price">{{ plan.price  | currency: 'INR'}}</span> {{ plan.finalPrice  | currency: 'INR'}}</p>
          </div>
          <p class="h3" style=" font-size: 20px; font-weight: bold;">{{ plan.planDescription }}</p>
          <div style="display: flex; justify-content: space-between;">
            <div>
              <p class="h5">Validity</p>
              <p>Bill Cycle</p>
            </div>
            <div>
              <p class="h5">Benefits</p>
              <p>{{ plan.memberCount }} 🧑‍🤝‍🧑</p>
            </div>
          </div>
          
          <p class="h4">Subscriptions</p>
    
          <div style="display: flex; justify-content: center;">
            <ng-container *ngFor="let ott of plan?.otts">
              <div class="circular-frame">
                <img [src]="ottImages[ott.ottName]" alt="{{ ott.ottName }} Logo" width="30" height="30">
              </div>
            </ng-container>
          </div>
          
         
        </div>
        <div class="card-buttons">
          <button class="btn btn-primary btn-sm mr-4" style="margin-right: 0.5rem;" (click)="toggleFlip()">Details</button>
          <button class="btn btn-danger btn-sm"  (click)="openConfirmation()">Get Now</button>
        </div>
      </div>
      <div class="back">
        <div class="card-content">
          <p> Bill Cycle- {{plan.billingCycle}} Days</p>
          <p>OTT Platforms- {{plan.ottCount}}</p>
          <li *ngFor="let ott of plan?.otts">
            {{ ott.ottName }} {{ott.planTitle}}
          </li>
        </div>
        <div class="card-buttons">
          <button class="btn btn-primary btn-sm mr-4" (click)="toggleFlip()">Back</button>
        </div>
      </div>
    </div>
  </div>
  
<!-- Existing HTML content -->

<!-- Stylish confirmation modal -->
<!-- Existing HTML content -->

<!-- Scrollable modal -->
<div class="modal d-block" *ngIf="this.openModal" tabindex="-1" role="dialog" id="confirmationModal">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Terms and Conditions</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div  class="modal-body">
        
    <h5>Billing Account and Membership:</h5>
    <p>The postpaid multiple OTT subscription service is linked to a single billing account, owned by the primary account holder. 
        The primary account holder can add up to four family members to the subscription service.</p>

    <h5>Billing and Collection Cycle:</h5>
    <p>The billing cycle for the subscription is 30 days, starting from the date of the subscription activation.
        The collection cycle for payment is 14 days, starting from the billing date.</p>

    <h5>Payment and Account Suspension:</h5>
    <p>In the event of non-payment within the initial 14-day collection cycle, the account will be temporarily suspended.
        Once suspended, access to all subscribed OTT services will be restricted until the outstanding payment is settled.</p>

    <h5>Account Termination Policy:</h5>
    <p>If the account holder fails to clear the outstanding bill even after the initial suspension, an additional 14-day grace period will be provided for payment.
        Failure to settle the outstanding amount within the given 14-day grace period will result in permanent termination of the account and all associated subscriptions.</p>

    <h5>Reactivation of Suspended Account:</h5>
    <p>Once the outstanding payment is cleared, the account will be reactivated, and access to subscribed OTT services will be restored within 24 hours.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-danger" (click)="confirmPurchase()" data-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" *ngIf="modalVisible">
  <div class="modal-content" [ngClass]="{'error-modal': isError, 'success-modal': isSuccess}">
    <span class="close" (click)="closeResponseModal()">&times;</span>
    <p class="modal-message">{{ modalMessage }}</p>
  </div>
</div>



