/* .all-content {
    display: flex;
    height: 100vh; 
} */

  
  /* .contents {
    width: 1000%;
    background-color: green;
  } */

  .nav-bar{
    height: 20%;
    background-color: rgb(152, 222, 30);
  }
  