.bill-container {
    width: 60%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }

  .title {
    text-align: center;
  }
  
  .bill {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .bill-info,
  .bill-details {
    flex: 1;
  }

  .label {
    font-weight: bold;
    min-width: 120px;
  }
  

  .payment-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .payment {
    /* Add styles for the payment section */
  }
  
  .radio-options {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
  
  .col-md-6 {
    padding: 20px;
  }

  .text-danger {
    color: red;
    font-weight: bold;
}

.bold-green {
    color: green;
    font-weight: bold;
}



  /* Modal Styles */
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    position: relative;
  }

  .error-modal {
    border: 2px solid #ff4d4f;
  }

  .success-modal {
    border: 2px solid #52c41a;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-message {
    color: #000;
    font-size: 16px;
    margin-top: 20px;
  }
  