.invoice-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 10%;
    background-color: #e3e3e3;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.home {
    background-color: #939292; 
}

/* .heading {
    background-color: #939292; 
    padding: 20px;
    text-align: center;
} */




.box-content-inline {
    display: flex;
    justify-content: space-between;
    background-color: #e3e3e3;
}

.view-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.view-button:hover {
    background-color: #45a049; /* Dark green */
}

h3 {
    font-weight: bold;
}

.heading {
    background-color: #939292;
    padding: 20px;
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    margin-bottom: 20px;
}

.invoice-heading {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

