<div class="subscription-container">
    <div class="subscription-item" *ngIf="showSubscription">
      <h2>Subscription Details</h2>
      <div class="item">
        <span class="label">Subscription ID:</span>
        <span>{{ subscription.subscriptionId }}</span>
      </div>
      <div class="item">
        <span class="label">Family ID:</span>
        <span>{{ subscription.familyId }}</span>
      </div>
      <div class="item">
        <span class="label">User ID:</span>
        <span>{{ subscription.userId }}</span>
      </div>
      <div class="item">
        <span class="label">Plan ID:</span>
        <span>{{ subscription.planId }}</span>
      </div>
      <div class="item">
        <span class="label">Final Price:</span>
        <span>{{ subscription.finalPrice | currency: 'INR' }}</span>
      </div>
      <div class="item">
        <span class="label">Created At:</span>
        <span>{{ subscription.createdAt | date }}</span>
      </div>
      <div class="item">
        <span class="label">End Date:</span>
        <span>{{ subscription.endDate | date }}</span>
      </div>
      <div class="item">
        <span class="label">Status:</span>
        <span>{{ subscription.status }}</span>
      </div>
      <div class="item">
        <span class="label">Auto Renewal:</span>
        <span>{{ subscription.autoRenewal ? 'Yes' : 'No' }}</span>
      </div>
      <div class="end-subscription">
        <button (click)="showConfirmation = true">End Subscription</button>
      </div>
    </div>
    <!-- <ng-template #noSubscription> -->
      <div class="message" *ngIf="!showSubscription">
        <p>You don't have any subscribed plan. <a routerLink="/home">Click here to subscribe.</a></p>
      </div>
    <!-- </ng-template> -->
  </div>

  <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showConfirmation, 'd-none': !showConfirmation}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showConfirmation = false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to end the subscription?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="showConfirmation = false">Close</button>
                <button type="button" class="btn btn-danger" (click)="endSubscription()" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>
  
