.subscription-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .subscription-item {
    padding: 20px;
  }
  
  .subscription-item h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .label {
    font-weight: bold;
    min-width: 150px;
  }
  .item span {
    font-weight: bold;
}
  
  .red-text {
    color: red;
    font-weight: bold;
  }
  
  .yellow-text {
    color: yellow;
    font-weight: bold;
  }
  
  .green-text {
    color: green;
    font-weight: bold;
  }
  

  .end-subscription {
    display: flex;
    justify-content: center;
}
  

  .end-subscription button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.end-subscription button:hover {
    background-color: #d32f2f;
}
