<div class="container">
    <div class="logo-div">
        <!-- Your logo here -->
        <img src="../../../assets/images/logo.png" alt="Logo" style="max-width: 80%; margin-top: 30px;">
    </div>
    <div class="form-div">
        <h2>Register</h2>
        
        <form (ngSubmit)="register()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" [(ngModel)]="newUser.name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" [(ngModel)]="newUser.email" required>
            </div>
            <div class="form-group">
                <label for="phoneNo">Phone Number</label>
                <input type="text" id="phoneNo" name="phoneNo" [(ngModel)]="newUser.phoneNo" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="newUser.password" required>
            </div>
            <div class="form-group">
                <label for="cnfrmPassword">Confirm Password</label>
                <input type="password" id="cnfrmPassword" name="cnfrmPassword" [(ngModel)]="passwordRepeat" required>
            </div>
            
            <button class="register-button" type="submit">Register</button>
        </form>
        <button class="login-button" routerLink="/login">Login</button>
        <!-- Add this code to your component's HTML template -->



    </div>
    
</div>