



<!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let image of images">
    <img [src]="image" alt="slide" />
  </ng-template>
</owl-carousel-o> -->
<div class="image">
  <img src="../../../assets/images/poster1.jpg" alt="description_of_image">
</div>
<div class="container">
  
  <div class="row" style="gap: 60px;">
    <div class="col-lg-3" *ngFor="let plan of planData">
      <div class="card shadow-lg" style="width: max-content;">
        <app-card [plan]="plan"></app-card>
      </div>
    </div>
  </div>
</div>

