<div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let plan of planData">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{plan.planDescription}}</h5>
            <p>Plan ID: {{plan.planId}}</p>
            <p>Billing Cycle: {{plan.billingCycle}}</p>
            <p>Member Count: {{plan.memberCount}}</p>
            <p>OTT Count: {{plan.ottCount}}</p>
            <p>Streams: {{plan.streams}}</p>
            <p>Price: {{plan.price}}</p>
            <p>Discount: {{plan.discount}}</p>
            <p>Final Price: {{plan.finalPrice}}</p>
            <p>OTTs:</p>
            <div *ngFor="let ott of plan.otts">
              <p>OTT ID: {{ott.ottId}}</p>
              <p>OTT Name: {{ott.ottName}}</p>
              <p>Plan Title: {{ott.planTitle}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  