<div class="container">
    <h2>Family Members</h2>
    <div class="family-list">
      <ul>
        <li *ngFor="let member of MemberDTO?.members">
          {{ member.name }} - {{ member.phoneNo }}
        </li>
      </ul>
    </div>
   

    <form #nameAndPhoneForm="ngForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="newMemberName">
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" [(ngModel)]="newMemberPhoneNo">
          </div>
        <button type="button" (click)="addFields()">Add More</button>
        <button type="submit">Submit</button>
    </form>
      
      
      