/* .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container div {
    margin: 10px;
}

.image-container img {
    max-width: 100px;
} */
.container-fluid {
    background-color: #c8c7c7;
  }

.container {
    width: 100%;
    margin: auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: #939292;
}

h2 {
    text-align: center;
}

.family-list {
    margin-top: 20px;
}

.member-info {
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #c8c7c7 ;
}
.member-info {
    width: 180px;
    height: 260px;
  }
  

form {
    margin-top: 20px;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.custom-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
    margin-right: 10px;
}

.custom-button:hover {
    background-color: #45a049;
}


button:active {
    background-color: #3e8e41;
}

button[type="submit"] {
    background-color: #008CBA;
}

button[type="submit"]:hover {
    background-color: #007a8a;
}

button[type="submit"]:active {
    background-color: #00677a;
}
/* Modal Styles */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    position: relative;
  }

  .error-modal {
    border: 2px solid #ff4d4f;
  }

  .success-modal {
    border: 2px solid #52c41a;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-message {
    color: #000;
    font-size: 16px;
    margin-top: 20px;
  }