




<div class="container-fluid">
  <h2>Family Members</h2>
  <div class="" style="">
      <div class="" style="width: 100%;;">
        <div class="" style="gap: 30px;display: flex; justify-content: space-evenly;">
          
          <div *ngFor="let member of MemberDTO?.members; let i = index" style="gap: 100px;">
            <div class="member-info d-flex flex-column align-items-center">
              <img [src]="imagePaths['member' + (i + 1)]" alt="Member Image" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;">
              <p><strong>Name:</strong> {{ member.name }}</p>
              <p><strong>Phone:</strong> {{ member.phoneNo }}</p>
              <button *ngIf="i !== 0" (click)="deleteMember(member)" class="btn btn-danger">
                <i class="fa fa-trash"></i> Remove
              </button>
              
            </div>
          </div>
        </div>
      </div>

  </div>
  <div class="row">
    <div class="col-md-4" style="margin-left: 450px;">
      <form #nameAndPhoneForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newMemberName">
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone:</label>
          <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="newMemberPhoneNo">
        </div>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
          Invalid card number. Please check your input.
        </div>
        <button type="button" class="btn btn-secondary me-2 custom-button" (click)="addFields()">Submit</button>

        <button type="submit" class="btn btn-primary">Add Members</button>
      </form>
      <div class="modal mt-3" *ngIf="modalVisible">
        <div class="modal-content" [ngClass]="{'error-modal': isError, 'success-modal': isSuccess}">
          <span class="close" (click)="closeResponseModal()">&times;</span>
          <p class="modal-message">{{ modalMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

   

      
      
      